In [1]:
import pandas as pd

In [5]:
import pandas as pd

data = {
    'article_id': [1, 1, 2, 2, 4, 3, 3],
    'author_id': [3, 3, 7, 7, 7, 4, 4],
    'viewer_id': [5, 6, 7, 6, 1, 4, 4],
    'view_date': ['2019-08-01', '2019-08-02', '2019-08-01', '2019-08-02', '2019-07-22', '2019-07-21', '2019-07-21']
}

views = pd.DataFrame(data)
display(views)

   article_id  author_id  viewer_id   view_date
0           1          3          5  2019-08-01
1           1          3          6  2019-08-02
2           2          7          7  2019-08-01
3           2          7          6  2019-08-02
4           4          7          1  2019-07-22
5           3          4          4  2019-07-21
6           3          4          4  2019-07-21

In [13]:
# approach 1
result_ids = set()
for index, row in views.iterrows():
    if row["author_id"] == row["viewer_id"]:
        result_ids.add(row["author_id"])
result_ids = sorted(result_ids)
result_df = pd.DataFrame(list(result_ids), columns=["id"])
display(result_df)

   id
0   4
1   7

In [34]:
# approach 2
result_ids = views.loc[views["author_id"] == views["viewer_id"], ["author_id"]]
result_ids = result_ids.drop_duplicates().sort_values(by="author_id").reset_index(drop=True)
result_ids.columns = ["id"]