In [1]:
import pandas as pd

In [14]:
import pandas as pd

data = {
    'name': ['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola'],
    'continent': ['Asia', 'Europe', 'Africa', 'Europe', 'Africa'],
    'area': [652230, 28748, 2381741, 468, 1246700],
    'population': [25500100, 2831741, 37100000, 78115, 20609294],
    'gap': [20343000000, 12960000000, 188681000000, 3712000000, 100990000000]
}

df = pd.DataFrame(data)
display(df)

          name continent     area  population           gap
0  Afghanistan      Asia   652230    25500100   20343000000
1      Albania    Europe    28748     2831741   12960000000
2      Algeria    Africa  2381741    37100000  188681000000
3      Andorra    Europe      468       78115    3712000000
4       Angola    Africa  1246700    20609294  100990000000

In [38]:
result_dict = []
for index, row in df.iterrows():
    if row["area"] >= 3000000 or row["population"] >= 25000000:
        result_dict.append({"name": row["name"], "population": row["population"], "area": row["area"]})
new_df = pd.DataFrame(result_dict, columns=["name", "population", "area"])
new_df.set_index("name")

             population     area
name
Afghanistan    25500100   652230
Algeria        37100000  2381741