In [53]:
import pandas as pd

In [54]:
# Customers table
customers_data = {
    'id': [1, 2, 3, 4],
    'name': ['Joe', 'Henry', 'Sam', 'Max']
}

customers_df = pd.DataFrame(customers_data)

# Orders table
orders_data = {
    'id': [1, 2],
    'customerId': [3, 1]
}

orders_df = pd.DataFrame(orders_data)
display(customers_df)
display(orders_df)

   id   name
0   1    Joe
1   2  Henry
2   3    Sam
3   4    Max

   id  customerId
0   1           3
1   2           1

In [83]:
order_ids = orders_df["customerId"]

In [111]:
result = customers_df[~customers_df["id"].isin(orders_df["customerId"])]
result_df = pd.DataFrame(result["name"])
result_df.columns = ["Co"]

    name
1  Henry
3    Max