In [1]:
import pandas as pd

In [2]:
data = {
    'user_id': [1, 2],
    'name': ['aLice', 'bOB']
}

users = pd.DataFrame(data)
display(users)

   user_id   name
0        1  aLice
1        2    bOB

In [11]:
# method 1, creating a new dataframe.
result_df = pd.DataFrame({
    "user_id": users["user_id"],
    "name": users["name"].str[0].str.upper() + users["name"].str[1:].str.lower()
})
result_df = result_df.sort_values(by="user_id")
result_df

   user_id   name
0        1  Alice
1        2    Bob

In [ ]:
# method 2, modifying the original dataframe.
users["name"] = users["name"].str[0].str.upper() + user