In [1]:
import pandas as pd

In [3]:
import pandas as pd

data = {
    'tweet_id': [1, 2],
    'content': ['Vote for Biden', 'Let us make America great again!']
}

tweets = pd.DataFrame(data)
display(tweets)

   tweet_id                           content
0         1                    Vote for Biden
1         2  Let us make America great again!

In [15]:
# method 1
valid_tweets = []
for index, row in tweets.iterrows():
    if len(row[1]) > 15:
        valid_tweets.append(row[0])
valid_tweets = pd.DataFrame(valid_tweets, columns=["tweet_id"])
display(valid_tweets)

   tweet_id
0         2

In [25]:
# method 2
valid_tweets = tweets.loc[tweets["content"].apply(len) > 15, ["content"]]
valid_tweets

                            content
1  Let us make America great again!