In [1]:
import pandas as pd

In [17]:
data = {
    'product_id': [0, 1, 2, 3, 4],
    'low_fats': ['Y', 'Y', 'N', 'Y', 'N'],
    'recyclable': ['N', 'Y', 'Y', 'Y', 'N']
}

df = pd.DataFrame(data)
display(df)

   product_id low_fats recyclable
0           0        Y          N
1           1        Y          Y
2           2        N          Y
3           3        Y          Y
4           4        N          N

In [34]:
result = []
for index, row in df.iterrows():
    if row["low_fats"] == "Y" and row["recyclable"] == "Y":
        result.append({row["product_id"]})
new_df = pd.DataFrame(result, columns=["product_id"])
new_df.set_index("product_id", inplace=True)
display(new_df)

Empty DataFrame
Columns: []
Index: [1, 3]